:root {
	--canvas_size: 70vmin;
	--swatch_size: 40px;
}

body {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

#canvas {
	width: var(--canvas_size);
	height: var(--canvas_size);
	display: grid;
	background: var(--b_med);

	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

canvas {
	width: 100%;
	height: 100%;
}

#top {
	width: 100%;
	height: 10vmin;
	top: 0;

	display: flex;
	justify-content: space-around;
	align-items: center;
	background: var(--b_med);
}

#middle {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#divider {
	width: 5px;
	height: 80%;
	background: var(--b_inv);
	opacity: 20%;
	border-radius: 10px;
}

#colorSwatches {
	width: 70%;
	display: flex;
	justify-content: space-around;
}

.swatch {
	width: var(--swatch_size);
	height: var(--swatch_size);
	background: var(--b_high);
	border-radius: 50px;
	transition: box-shadow 0.2s;
}

.selected {
	box-shadow: 0px 0px 10px var(--b_high);
}