

:root {
	--canvas_size: 80vmin;
	--swatch_size: 40px;
}

.button {
	--color: var(--b_inv);
	font-weight: bold;
	cursor: pointer;
}

body {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

#canvas {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

canvas {
	width: var(--canvas_size);
	height: var(--canvas_size);
	background: var(--b_low);
}

#top {
	width: 100%;
	height: 10vmin;
	top: 0;
	padding-left: 10vmin;
	padding-right: 10vmin;

	display: flex;
	justify-content: space-around;
	align-items: center;
	background: var(--b_low);
}

#middle {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#left {
	width: 10vmin;
	height: 100%;
	top: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	background: var(--b_low);
}

img {
	width: 5vmin;
}

#colorSwatches {
	width: 70%;
	display: flex;
	justify-content: space-around;
}

.swatch {
	width: var(--swatch_size);
	height: var(--swatch_size);
	background: var(--color);
	border-radius: 50px;
	transition: box-shadow 0.2s;
}

.selected {
	box-shadow: 0px 0px 3vmin var(--color);
}

.button {
	background: var(--b_inv);
	color: var(--b_low);
	padding: 0.3em;
	border-radius: 3px;
	transition: box-shadow 0.2s;
}

svg {
	fill: var(--b_low);
}